:root{
    --default-color: #fff;
    min-height: 100vh;
}


nav h1{
    color: var(--default-color);
}

.curve{
    border-radius: 30px !important;
}

.notif{
    font-size: 2em;
    cursor: pointer;
}

nav .user{
    background: #245378;
}

nav .dropdown h1{
    font-size: 1.5em !important;
}

.user-cont{
    display: flex !important;
    flex-direction: row;
    gap: 1em;
}

.user-cont a{
    padding: 0.2em 0.3em !important;
}

.user-button{
    border-radius: 30px;
}

.user-button .name{
    color: #3b3b3b;
}

.reg-label{
    font-weight: bold;
}

.bank-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bank-header .text-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.add-button{
    width: 50% !important;
    height: auto;
    margin-left: 25%;
    cursor: pointer;
}

.add-box{
    margin: auto;
    width: 15%;
    min-height: 2em;
    border-radius: 40px;
    color: #fff;
    background: #5e72e4;
}

.registration-box{
    position: relative !important;
    min-height: 25em !important;
}

.buttons{
    display: flex !important;
    flex-direction: row !important;
}

.next-button{
    font-size: 1.2em !important;
    background: none;
    position: absolute !important;
    right: 2em;
    bottom: 1em;
    border: none !important;
    box-shadow: none !important;
}

.back-button{
    font-size: 1.2em !important;
    background: none;
    position: absolute !important;
    left: 2em;
    bottom: 1em;
    border: none !important;
    box-shadow: none !important;
}

.accounts-added{
    font-weight: bold;
    align-items: center;
    margin-left: auto;
}

.currency-control{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 0.5em 1em;
}

.currency-control:hover{
    background: #e6e6e6;
    border-radius: 30px;
}

.currency-control h2{
    margin: 0;
}

.currency-control svg{
    font-size: 2em;
}

.spending-container{
    z-index: 1;
    position: absolute;
    top: 80%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.item-closed{
    background: rgb(218, 217, 217) !important;
    border-radius: 50px !important;
    height: 4em;
    align-items: center;
    padding-top: 0.5em;
    cursor: pointer;
}

.item-closed:hover{
    background:  rgb(201, 201, 201) !important;
}

.item-closed h2{
    color: #2b2b2b !important;
    font-weight: bold;
}

.item-closed:first-of-type {
    opacity: 0.9;
}

.item-opened{
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-height: 20em;
    background: #fff;
    border-radius: 50px !important;
    align-items: center;
    text-align: center;
    opacity: 0.8;
}


.item-opened h2{
    color: #2b2b2b !important;
    font-weight: bold;
}

.container-fluid{
    display: relative !important;
}

.spending-list{
    position: absolute !important;
    position: relative;
    top: 50% !important;
    margin-left: 10%;
    z-index: 5 !important;
    min-height: 40em;
    background: #fff;
}

.spending-list button{
    position: absolute;
    bottom: 10%;
    width: 10%;
    height: 2em;
    left: 45%;
    border: none;
    background: #67a2cf;
    color: #fff;
    font-weight: bold;
}

.open-control{
    cursor: pointer;
}

.expense-drop-down{
    margin-left: auto;
    font-size: 3em;
    color: #2b2b2b !important;
}

.expense-up-arrow{
    font-size: 2.1em;
    color: #2b2b2b !important;
}

.table-container{
    width: 90%;
}

.expense-table{
    width: 100%;
}

td{
    color: #464646 !important;
    font-weight: bold;
    font-size: 1em !important;
    border-top: none !important;
}

th{
    font-size: 1em !important;
    font-weight: bold !important;
    border-top: none !important;
    color: #111111 !important;
    border-bottom: 1px solid #2b2b2b !important;
}

.main-row{
    cursor:pointer;
    text-align: center;
} 

.main-row:hover{
    border-bottom: 1px solid #464646;
}

tr:last-of-type{
    border-bottom: 1px solid #2b2b2b !important;
}


.trans-info td{
    font-size: 0.9em !important;
    color: #111111 !important;
    padding: 0.1em 
    0 !important;
}

.latest-trans{
    width: 100%;
}

.latest-trans table{
    margin: 0 auto;
    width: 90%;
}

.expense-manager-table, h3{
    text-align: center;
}

.expense-manager-table th{
    border-bottom: none !important;
}

.expense-manager-table tr:last-of-type{
    border-bottom: none !important;
}

.expense-manager-data{
    border-bottom: 1px solid #afafaf !important;
}

.expense-manager-data td{
    color: #646464 !important;
    font-size: 0.85em !important;
}

.expense-manager-data svg{
    cursor: pointer;
    font-size: 1.5em;
    color: #050505;
}

.rec-exp{
    min-height: 20em;
}

.rec-exp h3{
    border-bottom: 1px solid #464646;
    margin: 0 2em;
}

.info{
    cursor: pointer;
}

.expense-editor{
    opacity: 0.95;
    position: relative;
    position: fixed;
    z-index: 1;
    top: 25%;
    left: 40%;
    min-height: 20em;
    width: 20%;
    background: #fff;
    transition: all 0.5s ease-in-out;
}

.save-button{
    position: absolute;
    bottom: 1em;
    left: 40%;
    width: 20%;
    background:#67a2cf;
    border: none;
    color: #fff;
    font-weight: bold;
}

.reg-cont{
    position: absolute !important;
    z-index: 0;
}

.bank-card{
    position: absolute !important;
    height: 20em;
    width: 30em;
    top: 100%;
    z-index: 2;
}

.bank-card .input-group{
    width: 80% !important;
    margin: 2em auto;
}

.top-cats-col{
    width: 100% !important;
}

.top-cats-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 4em;
    margin-bottom: 1em;
}

.top-cats-header h3{
    width: 8em;
}

.top-cats-header a{
    margin-left: auto;
    width: 6em;
}

.top-cats-body{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.top-cats-body:first-of-type{
    margin-top: 1em;
}

.top-cats-body h2, .top-cats-body h3{ 
    text-align: left;
    line-height: 1em;
}

.top-cats-body h3{
    font-size: 0.8em;
    color: #818181;
}

.cats{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.cats button:first-of-type{
    margin-top: 1em;
}

.cats button:last-of-type{
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}

.expense-adder{
    position: absolute !important;
    top: 5em;
    left: 5em;
    background: #fff;
    width: 50%;
    height: 50vh;
    z-index: 5;
}

.expense-adder form{
    width: 80%;
    margin: 2em auto;
}

.expense-adder button{
    margin-left: 2em;
}

.editor-container{
    width: 90%;
    min-height: 15em;
    margin: 1em auto;
    margin-bottom: 4em;
}

.edit-buttons{
    display: flex;
    flex-direction: row;
}

.edit-buttons button{
    
}

.trans-adds{
    display: flex;
    flex-direction: row;
    min-height: 2em;
    min-width: 3em !important;
    margin: 0;
    gap: 0.5em;
}


.trans-adds svg{
    font-size: 2.5em;
    margin: 0.5em 0 !important;
    overflow: hidden !important;
    align-items: center;
    cursor: pointer;
}

.trans-adds button{
    height: 4em;
    min-width: 10em;
    margin: 0.5em 0 !important;
    overflow: hidden !important;
}

.assign-exp{
    opacity: 0.98;
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    width: 30%;
    min-height: 50vh;
    position: absolute;
    top: 15em;
    right: 30%;
    z-index: 5;
}

.assign-exp h2{
    width: 90%;
    margin: 0.5em auto 0.5em auto;
    padding-bottom: 0.5em;
    font-weight: bold;
    border-bottom: 1px solid #cfcfcf;
}

.expense-list{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.assign-exp button{
    width: 90% !important;
    margin: 0 auto;
    height: 2.5em;
    border: none;
    border-radius: 5px;
    background: #89c9fa;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: all 0.1s ease;
}

.assign-exp button:hover{
    height: 2.6em;
}

.assign-exp button:last-of-type{
    background: #5e72e4;
    position: absolute;
    bottom: 1em;
    left: 5%;
}

.footer{
    position: absolute;
    background: none !important;
    bottom: 0;
    width: 80%;
    left: 10%;
    margin-top: 3em;
}